In [13]:
# import necessary libraries
import pandas as pd
import numpy as np

In [14]:
# read the csv file with encoding
data = pd.read_csv('Students.csv', encoding='latin-1')

# Top 5

In [15]:
# top 5
data.head()

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

# Dimension

In [16]:
# data shape
data.shape

(3614, 16)

There are 3614 rows and 16 columns.

# Data Type

In [17]:
# data types
data.dtypes

Student_Name                  object
College_Name                  object
Stream                        object
Year_of_Study                  int64
AI_Tools_Used                 object
Daily_Usage_Hours            float64
Use_Cases                     object
Trust_in_AI_Tools              int64
Impact_on_Grades               int64
Do_Professors_Allow_Use       object
Preferred_AI_Tool             object
Awareness_Level                int64
Willing_to_Pay_for_Access     object
State                         object
Device_Used                   object
Internet_Access               object
dtype: object

# Summary

## Character

In [18]:
# summary for categorical variables
data.describe(include=['object'])

,Student_Name,College_Name,Stream,AI_Tools_Used,Use_Cases,Do_Professors_Allow_Use,Preferred_AI_Tool,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
count,3614,3614,3614,3614,3614,3614,3614,3614,2000,3614,3614
unique,40,1246,10,9,333,2,6,2,34,3,3
top,Aarav,National Institute of Technology,Science,ChatGPT,"Assignments, Coding Help",No,ChatGPT,No,Maharashtra,Laptop,Medium
freq,91,231,593,626,534,1886,859,1811,106,1336,1260

## Numeric

In [19]:
# summary statistics
data.describe()

,Year_of_Study,Daily_Usage_Hours,Trust_in_AI_Tools,Impact_on_Grades,Awareness_Level
count,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000
mean,2.472883,2.559685,3.023243,0.003320,5.828445
std,1.107912,1.213319,1.436934,2.370706,2.925481
min,1.000000,0.500000,1.000000,-5.000000,1.000000
25%,2.000000,1.500000,2.000000,-2.000000,3.000000
50%,2.000000,2.600000,3.000000,0.000000,6.000000
75%,3.000000,3.600000,4.000000,2.000000,8.000000
max,4.000000,5.000000,5.000000,5.000000,10.000000

# NULL Values

In [20]:
# missing values
data.isnull().sum()

Student_Name                    0
College_Name                    0
Stream                          0
Year_of_Study                   0
AI_Tools_Used                   0
Daily_Usage_Hours               0
Use_Cases                       0
Trust_in_AI_Tools               0
Impact_on_Grades                0
Do_Professors_Allow_Use         0
Preferred_AI_Tool               0
Awareness_Level                 0
Willing_to_Pay_for_Access       0
State                        1614
Device_Used                     0
Internet_Access                 0
dtype: int64

State is almost 50% with NULL values. Thus drop. But other columns have zero NULL values.

# Duplicates

In [21]:
# check duplicates
duplicates = data.duplicated().sum()
if duplicates > 0:
    print(f"Found {duplicates} duplicate rows in the dataset.")
else:
    print("No duplicate rows found in the dataset.")

No duplicate rows found in the dataset.

There is no duplications.